/*
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    !*background: url("images/bg.jpg") center top repeat;*!
    !*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%) center top repeat-x;*!


    background: #fd746c; !* fallback for old browsers *!
    background: -webkit-linear-gradient(to left, #fd746c , #ff9068); !* Chrome 10-25, Safari 5.1-6 *!
    background: linear-gradient(to left, #fd746c , #ff9068); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!


}

.navigation .navbar-default {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail, .panel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none
}

.auto-listing .thumbnail .info {
    background: #fff;
}

.panel-default > .panel-heading {
    background: #B1A599;
    color: #ffffff;
    !*text-shadow: 1px 1px 1px #000000;*!
    box-shadow: inset 0 -2px 2px rgba(73, 73, 73, 0.16);
    text-align: center;
}

.panel {
    background: none;
}

.panel-body {
    background: #ffffff;
}

.panel-footer {
    background: #f6f0ec;
    color: #ffffff;
}
.btn-default {
    background: #E65F3C;
    color: #ffffff;
    border: none;
    !*text-shadow: 1px 1px 1px #000000;*!
}

.btn-default:hover {
    background: #ef7151;
    color: #ffffff;
}
*/


